.mainNews{
    background-image: url("../../Images/worldmap.png");
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 20px;
}
.inTouch{
        margin-left: auto;
    margin-right:auto;
    margin-bottom: 30px;
    padding: 40px 0;
    width: 40%;
    border-radius: 5px;
    background-color: #929292;
}
@media (max-width:900px){
    .mainNews{
        background-image: url("../../Images/worldmap.png");
        background-color: #F5F5F5;
        border-radius: 5px;
        margin-top: -10px;
        padding: 15px;
    }
    .inTouch{
        width: 100%;
        
        margin-bottom: 30px;
        padding: 20px 0;
        
        border-radius: 5px;
        background-color: #929292;
    }
}