.mainNavbar{
    background-color: aquamarine;
}
.heading{
    font-size: 20px;
}
.signInButton{
    background-color: chartreuse;
    margin:1px

}
.tags{
    color:black
}
.hamburger{
    display:none
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
.hamburger{
    display:block
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
