.mainNavbar{
    height:80px;
}
.glob{
    height: 80px;
    border-radius: 20px;
}
.heading{
    font-size: 20px;
}
.signInButton{
    background-color: rgba(128, 255, 0, 0.493);
    margin:1px
}
.content{
    margin-left:50px;
}
.tags{
    color:black
}
/* list items */
.items{
    padding:20px;
}

  
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
.hamburger{
    display:block
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
