.mainNavbar{
    
}
.glob{
    height: 100px;
    border-radius: 20px;
}
.heading{
    font-size: 20px;
}
.signInButton{
    background-color: rgba(128, 255, 0, 0.493);
    margin:1px

}
.tags{
    color:black
}

  
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
.hamburger{
    display:block
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
