.carousel-parent {
  position: relative;
  height: 600px;
  background-size: cover;
  /* width: 100%; */
}

#carousel {
  position: relative;
  margin-top: -20px;
}

#filter-box {
  position: absolute;
  top: 10px;
  left: 10px;
}
.right{
  text-align: center;
  background-image: url("../../Images/brother.png");
  height:600px;
  width:100em;
}
.left{
  text-align: center;
  background-image: url("../../Images/worldmap.png");
  height:600px;
  width:90em;
  text-align: center;
  background-color: black;
  position: relative;
}
.align{
  padding-left: 5em;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.textofMain{
  color:white;
  text-align: left;
}

/* Responsive for screen below laptop */
@media (max-width:766px) and (min-width: 300px) {
  .align{
    padding-left: 2em;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .textofMain{
    color:white;
    text-align: left;
    width:40%;
  }
  
}

