.messenger{
    height: calc(100vh - 70px);
    display: flex;
    margin: -30px -40px;
    height: 700px;
}

.chatMenu{
    flex: 2.5;
}

.chatBox {
    flex: 8.5;
}
.chatBoxBottom{
    margin-top: 5px;
    /* display: flex; */
    align-items: center;
}
.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatOnline {
    flex: 1;
    margin-top: 30px;
}

.chatMenuWr,.chatBoxWrap{
    padding: 20px;
    background-color: rgb(245,243,243);
    height: 100%;
}
.chatOnlinebox{
    background-color: rgb(245,243,243) !important;
    
}
.messageInput{
    margin-top: 50px;
    width: 80%;
    align-items: bottom;
}
.chatSubmitButton{
    width: 70px;
    height: 40px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color:white
}
.chatBoxTop{
    height: 500px;
    overflow-y: scroll;
    padding-right: 10px;
}
