.messenger{
    height: calc(100vh - 70px);
    display: flex;
    margin: -30px -40px;
    height: 700px;
}

.chatMenu{
    flex: 3.5;
}

.chatBox {
    flex: 5.5;
}

.chatOnline {
    flex: 3;
}

.chatMenuWr,.chatBoxWrap{
    padding: 20px;
    background-color: rgb(245,243,243);
    height: 100%;
}
.chatOnlinebox{
    background-color: rgb(245,243,243) !important;
    
}
.messageInput{
    margin-top: 50px;
    width: 80%;
    align-items: bottom;
}
.chatSubmitButton{
    width: 70px;
    height: 40px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color:white
}
.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}
