.messenger{
    height: calc(100vh - 150px);
    display: flex;
    margin: -30px -40px;
}

.chatMenu{
    flex: 20% !important;
    border-right: 4px solid black;
    height: 100vh;
    overflow-y: scroll;
}

.chatBox {
    flex: 80% !important;
}
.chatBoxBottom{
    margin-top: 5px;
    /* display: flex; */
    align-items: center;
}
.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
}


.chatMenuWr,.chatBoxWrap{
    padding: 20px;
    background-color: rgb(245,243,243);
    height: 100%;
}
.chatOnlinebox{
    background-color: rgb(245,243,243) !important;
    
}
.messageInput{
    margin-top: 50px;
    width: 80%;
    align-items: bottom;
}
.chatSubmitButton{
    width: 70px;
    height: 40px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color:white
}
.chatBoxTop{
    height: 500px;
    overflow-y: scroll;
    padding-right: 10px;
}
